[Unit]
Description=RAM control service

[Service]
Type=simple
User=vadsamokh
Group=vadsamokh
ExecStart=/usr/bin/perl /usr/lib/ram_control/ram_control.pl /usr/local/scripts/
Restart=always

[Install]
WantedBy=multi-user.target
